#{extends 'main.html' /}
#{set title:'Settings' /}

<h1>Ganti Password</h1>

#{form @saveSettings()}
    #{field 'connected.password'}
        <p class="${field.errorClass}">
            <strong>Password:</strong> <input type="password" name="password" size="16" value="${connected?.password}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    #{field 'verifyPassword'}
        <p class="${field.errorClass}">
            <strong>Verifikasi Password :</strong> <input type="password" name="${field.name}" size="16" value="${verifyPassword}"> *
            <span class="error">${field.error}</span>
        </p>
    #{/field}
    
    <p class="buttons">
        <input type="submit" value="Simpan"> <a href="@{index()}">Batal</a>
    </p>
#{/form}